<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>폼 전송 결과</h1>
    <ul>
      <li>이름: <%= user.username %></li>
      <li>성별: <%= user.gender %></li>
      <li>
        생일: <%= user.birthYear %>년<%= user.birthMonth %>월<%= user.birthDay
        %>일
      </li>
      <li>취미 :<%= user.hobby %></li>
    </ul>
  </body>
</html>
